{% load static %}
<!DOCTYPE html>
<html style>
<head>
    <title>Add employee</title>
    <link rel="stylesheet" href="{% static 'css/navfoter.css' %}">
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
</head>
<style>
    .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(57,111,162);
    overflow-x: hidden;
    transition: 0.5s;
    }
    hr{
        background-color: white;
        border: none;
        height: 1px;
    }
    .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: -30px;
    }

    .overlay a{
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    }

    .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    }
</style>
<body>
	<nav>
		<img src="{% static 'imgs/HR.png' %}" alt="logo">
        <div class="hide">
            <ul>
                <li><a href="../home/">Home </a></li>
                <li><a href="../edittable/">Edit employee data</a></li>
                <li><a href="#">Add new employee </a></li>
                <li><a href="../request/">Vacation Requests </a></li>
                <li><a href="../form/">Vacation form </a></li>
                <li><a href="../login/">Log out</a></li>
            </ul>    
        </div>
		<span onclick="openNav()" style="cursor: pointer;">
			<i class="fa-solid fa-bars-staggered" style="color: rgb(57, 111, 162);"></i>
		</span>
	</nav>
    <div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="overlay-content">
			<hr>
			<a href="../../home/">Home</a>
			<hr>
			<a href="../../edittable/">Edit employee data</a>
			<hr>
			<a href="#">Add new employee</a>
			<hr>
			<a href="../../request/">Vacation requests</a>
			<hr>
			<a href="../../form/">Vacation form</a>
			<hr>
			<a href="../../login/">Log out</a>
			<hr>
		</div>
	</div>
    <center>
        <section>
            <form method="post" action="" id="addform">
                {% csrf_token %}
                <div class="left_info">
                    <h2 class="btm">General info</h2><br>
                    <div class="btm">
                        <input type="text" placeholder="Name" class="input_field" id = "nmField" name="Name"><br>
                    </div>
                    <div class="btm">
                        <input type="email" placeholder="E-mail" class="input_field" id = "mailField" name="Email"><br>
                    </div>
                    <div class="btm">
                        <input type="text" placeholder="Address" class="input_field" id = "addressField" name="Address"><br>    
                    </div>
                    <div class="btm">
                        <input type="number" placeholder="Phone number" class="input_field" id = "phoneField" name="Phone"><br>    
                    </div>
                    <div>
                        <input type="number" placeholder="ID" class="input_field" id = "IDField" name="ID"><br>    
                        <p id="confirm">already taken</p>  
                    </div>  
                    <div>
                        <br><label><b>Gender:</b></label><br>
                        <input type="radio" name="Gender" id="male" value="Male"><span>Male</span>
                        <input type="radio" name="Gender" class="btm" id="female" value="Female"><span>Female</span><br>  
                        <p id="gender">Please choose your gender</p>  
                    </div>
                    <div>
                        <br><label><b>Martial status:</b></label><br>
                        <input type="radio" name="Martial" id="single" value="Single"><span>Single</span>
                        <input type="radio" name="Martial" id="Married" value="Married"><span>Married</span><br>
                        <input type="radio" name="Martial" id="Widowed" value="Widowed"><span>Widowed</span>
                        <input type="radio" name="Martial" class="btm" id="Divorced" value="Divorced"><span>Divorced</span><br>  
                        <p id="martial">Please choose your martial status</p>    
                    </div>
                    <div>
                        <br><label><b>Date of Birth</b></label><br>
                        <input type="date" placeholder="Date of birth" class="input_field" id="date" name="Date">
                    </div>
                </div>
                <div class="right_info">
                    <h2 class="btm">Bussiness info</h2><br>
                    <div class="btm">
                        <input type="number" placeholder="available vacation days" min="1" id = "avVacDaysField" name="Vac_days"><br>
                    </div>
                    <div class="btm">
                        <input type="number" placeholder="approved vacation days" min="1"  id = "vacDaysField" name="Approved_days"><br> 
                    </div>
                    <div class="btm">
                        <input type="number" placeholder="Salary" min="1000" step ="100" id = "salaryField" name="Salary"><br>
                    </div><br><br>
                    <div>
                        <input class="btn" id="btn" type="submit" value="Add new employee">
                    </div>
                </div>
                <div class="add" id = "add">
                    Added Successfully &#10004;
                </div>    
            </form>
        </section>    
        <div id="arr" style="display: none;">
            {% for x in mydataids %}
                    {{x.id_number}}
            {% endfor %}
        </div>
    </center>
    <footer class="footer">
        <p><span>&copy;2023</span> Human Resources Website. All rights reserved.</p>
    </footer>
    <script>
		function openNav() {
			document.getElementById("myNav").style.width = "100%";
		}
		
		function closeNav() {
			document.getElementById("myNav").style.width = "0%";
		}
	</script>
    <script src="https://kit.fontawesome.com/3de607b508.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/Add.js' %}"></script>
</body>
</html>